pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.idea/

Web/RecognizerLib/target/

Web/Server/target/
Web/Server/docker/server/*.war

Web/Solver/target/
Web/.idea/

App/.idea/
App/target/
App/app.iml

Web/RecognizerLib/recognizerlib.iml
Web/Server/server.iml
Web/Solver/solver.iml

Data/Dump/Grid/
Data/Dump/CleanGrid/
Data/Dump/Digit/
Data/Dump/Result/
Data/Dump/Cell/